body {

    margin: 0;


    height: 100vh;
}


header{

    background-color: #2DC7AB;
    width: 100%;
    height: 70px;


}



.text{

    font-family: Arial, Helvetica, sans-serif;
}




section{

    display: flex;
    flex-direction: row;

    height: 100%;

}


aside{

    display: flex;
    flex-direction: column;

     width: 250px;

    background-color: aliceblue;

    border-right: solid black 2px;
    
}

.header_aside{
    text-align: center;
}

main{

    background-color: aliceblue;

    flex: 1;

    display: flex;

}


.espacobotoes{

    margin-top: 15px;
}

.servicos{

    text-align: center;

}

.profission{

    margin-top: -15px;
}

.dados{

    margin-top: 25px;

    background-color: aliceblue;
    height: 50px;

    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.pagamentoPendente{

    margin-top:100px;

    background-color: aliceblue;
    height: 50px;

    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navSair{

    font-size: 23px;

    display: block;
 
    margin-left: auto;
    margin-right: auto;

 
    color: black;

    height: 50px;
    width: 230px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15cm;

}

.navSair:hover{

    background-color: #2DC7AB;
   
    color: white;
}





.modal{

    width: 1000px;
    height: 700px;


    border: solid 1PX black;
    background-color: #eeecec;

    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

    display: none;
  

}

.fecharX{

    border: none;

    position: absolute;
    top: 7px;
    right: 7px;


}

.tituloModal{
    text-align: center;
}

.botoesDados{

    width: 220px;
    height: 55px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    cursor: pointer;
}


.dadosDash{

    width:600px;
    height: 600px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quantidade{

    width: 200px;
    height: 330px;

    margin-right: 10px;


    border: solid black 2px;
}

.grafico{

    width: 200px;
    height: 330px;

    margin-left: 10px;

    border: solid black 2px;

    display: flex;
    justify-content: center;

    align-items: flex-end;
 
}

.quants{ 
    text-align: center;
}

.valor{

    text-align: center;
    font-size: 100px;

    margin-top: 65px;
}



.valorGrafico{

    background-color: red;

    width: 40px;
}

#alturaGrafico1{

    height: 53px;
}

#alturaGrafico2{

    height: 70px;
}

#alturaGrafico3{

    height: 81px;
}

#alturaGrafico4{

    height: 41px;
}


#alturaGrafico5{

    height: 42px;
}